
@{
    ViewBag.Title = "Department";
}

@model  List<Task1.Models.Department>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Students", "Dashboard", "Admin")</li>
                <li>@Html.ActionLink("Create Students", "Create", "Admin")</li>
                <li>@Html.ActionLink("Depatmrnts", "Department", "Admin")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Department Name</th>
            
        </tr>
        @foreach (var dept in @Model)
        {
            <tr>
                <td>@dept.Id</td>
                <td>@dept.Name</td>
               
                
            </tr>
        }
        </table>
        </div>
