@model Task1.Models.ViewModel.StudentDepartment
@{
    ViewBag.Title = "Create";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Students", "Dashboard", "Admin")</li>
                <li>@Html.ActionLink("Create Students", "Create", "Admin")</li>
                <li>@Html.ActionLink("Depatmrnts", "Department", "Admin")</li>
            </ul>
        </div>
    </div>
</div>

<h2>Create</h2>

<div>
    <form action="/Admin/Create" method="post">
        <select name="Dept_Id" class="form-control">
            <option value="null" selected disabled>--Select--</option>
            @foreach (var c in Model.Departments)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
        @Html.ValidationMessageFor(model => Model.Student.Dept_Id, "", new { @class = "span" })

        <input type="text" name="Name" class="form-control" placeholder="name..">
        @Html.ValidationMessageFor(model => Model.Student.Name, "", new { @class = "span" })
        <input type="date" name="DOB" class="form-control" placeholder="">
        @Html.ValidationMessageFor(model => Model.Student.DOB, "", new { @class = "span" })
        <input type="text" name="Credit" class="form-control" placeholder="ctrdit..">
        @Html.ValidationMessageFor(model => Model.Student.Credit, "", new { @class = "span" })
        <input type="number" name="CGPA" class="form-control" placeholder="cgpa.." step="any">
        @Html.ValidationMessageFor(model => Model.Student.CGPA, "", new { @class = "span" })
        <input type="submit" class="btn btn-block" value="Add" />
    </form>
</div>

